@font-face {
  font-family: 'NMS-Glyphs-Mono';
  src:
    local('NMS-Glyphs-Mono'),
    url('../assets/NMS-Glyphs-Mono.ttf') format('truetype');
}

:root {
  --invert: 0;
}

[data-theme='dark'] {
  --invert: 100;
}

.theme-transition {
  transition: background-color var(--pico-transition);
}

.container {
  margin-block-start: 1rem;
  margin-block-end: 5rem;
}

html {
  scrollbar-gutter: stable;
}

@media (prefers-reduced-motion: no-preference) {
  html {
   scroll-behavior: smooth;
  }
article,
header,
footer,
hr,
p,
h1,
html {
  transition:
    background-color var(--pico-transition),
    border-color var(--pico-transition),
    color var(--pico-transition),
    box-shadow var(--pico-transition);
}
}

.title {
  margin-block-end: 2rem;
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.is-danger {
  background-color: indianred;
  border: 1px solid firebrick;

  &:focus {
    --pico-primary-focus: var(--pico-form-element-invalid-border-color);
  }
}


